.card{
    margin-left: 20px;
    margin-bottom: 20px;
    width: 16rem;
    filter: brightness(100%);
}

.card:hover{
    -webkit-transform:scale(1.02);
    transform:scale(1.05);
    transition: 20ms;
    filter: brightness(92%);
}

.badgeInfo {
    display: flex;
    justify-content: space-evenly;
}