.cardSingleHome{
    width: 18rem;
    border-color: azure;
    box-shadow:1px 1px 6px rgb(146, 146, 146);
}

.textCustom{
    /* font-size: 5rem; */
}

.textCustom:hover{
    color: #eac574;
    transition: 100ms;
}

/* .fontTitle{
    font-family: 'Jost', sans-serif;
    text-align: center;
    font-size: 100px;
} */

