.contenido{
    display: flex;
    margin: 20px;
    
}

.detalles {
 border: 1px solid;
 width: 75%;
 margin-right: 15px;
 border-radius: 13px;
}

.opciones{
    width: 25%;
    background-color: rgb(239, 239, 230);
    align-items: center;
    border-radius: 5%;
}



/* .infoSection{
    display: flex;
    justify-content: space-between;
} */

.tituloNombre {
    padding: 10px;
    text-align: center
}


.editarOpciones{
    padding-top: 20%;
    text-align: center
}

.infoAlumno{
    margin-left: 30px;
    margin-bottom: 30px;

}

.textInfoAlumno{
    font-family: system-ui
}

.tabs {
    padding: 18px 25px ;
}

.formAlumno{
    margin: 30px;
}

.orgFlex{
    display: flex;
    justify-content: space-between
}

.btnsAlumnos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly ;
    margin: 20px 60px;
    width: 10%;
}
/* .cursosSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 70px;
}

.cursoMatriculado{
    margin-bottom: 5px;
} */

